<footer class="gh-footer{{#match @custom.header_and_footer_color "Accent color"}} has-accent-color{{/match}} gh-outer">
    <div class="gh-footer-inner gh-inner">

        <div class="gh-footer-bar">
            <span class="gh-footer-logo is-title">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}}
                    {{@site.title}}
                {{/if}}
            </span>
            <nav class="gh-footer-menu" >
                {{!-- {{navigation type="secondary"}} --}}
            </nav>
             <div class="gh-footer-copyright">
                © 2025 <a href="https://arcstratus.io" target="_blank" rel="noopener">諾澄科技</a> All Rights Reserved.
            </div>
        </div>
    </div>
</footer>